<div class="d-flex mt-3 px-2 py-2 sub-head">
    <h5 class="bold m-0" *ngIf="currentForm && currentForm">{{currentForm.label}}</h5>    
</div>

<div [formGroup]="myForm" class="form-container p-3" style="border: 2px solid;">
    <ng-container *ngFor="let formItem of dynamicFormFields">
      <app-card [formItem]="formItem" [myForm]="myForm" [readOnly]="readonly"></app-card>
    </ng-container>
  
  
  
    <pre>
      <!-- {{myForm.value | json}} -->
    </pre>
    <div class="d-flex justify-content-end">
      <!-- Button trigger modal -->
<button type="button" class="btn btn-crm" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Preview
</button>
    </div>    
  
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" *ngIf="currentForm && currentForm">{{currentForm.label}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <pre>{{myForm.value | json}}</pre>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>
  
  